* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI';
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;

}


.header {
    background-color: #2c1810;
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px #000010;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.menu a:hover {
    color: #d4a574;
}

.hero-section{
    background: linear-gradient(rgba(44,24,16,0.7),rgba(44,24,16,0.6)), url(https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?w=1200&h=600&fit=crop);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero-content p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn-primary {
    background-color: #d4a574;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: backgroud-color 0.5s;
}

.btn-primary:hover {
    background-color: #b8935f;
}